services:
  gluetun:
    image: qmcgaw/gluetun:v3.40
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    env_file:
      - .env
    networks:
      vpn_net: {}

  dnsmasq:
    build:
      context: ./docker/dnsmasq
      dockerfile: Dockerfile
    network_mode: host
    cap_add:
      - NET_ADMIN
    volumes:
      - ./config/dnsmasq.conf:/etc/dnsmasq.conf:ro
    restart: unless-stopped

networks:
  vpn_net:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-gluetun
